.grid-container div {
  border: 1px solid blue;
}
.grid-container {
  display:grid;
  grid-gap: 20px 30px;
}
.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2:
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 3:
  grid-row-start: 3;
  grid-row-end: 3;
}
.grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 4:
  grid-row-start: 4;
  grid-row-end: 4;
}
}
.grid-container {
  grid-template-columns: 20px 30px 30px 40px;
  grid-template-rows: auto auto auto auto;
}
h2 {
  color: blue;
  background-color: lightblue;
}
