h1 {
      color:white;
    }


    h2{
      color:white;
    }

    h3{
      color:darkgrey;
   }

   #menu-bar{
    color:black;
    background-color:lightgrey;
  }

  .aqua-text{
   color:aqua;
     }

    p {
      color:slategrey;
    }

    body {
      background-color:white;
    }


    .important {
      font-weight: bold;
    }

    #quotation {
      color: darkturquoise;
      font-weight: bold;
  }

h4{
color:slategrey}

h5{
color:slategrey}

   #aqua {
     color: aqua;
   }

  .white {
  height:100px;
  color:white;
  background-color:slategrey;
  padding:1rem;
}

a[href="#"] {
  background-color:slategrey;
}

.cats {
  height: 20px;
  background-color: darkturquoise;
  padding: 3rem;
  border: 1px solid darkturquoise;
  margin: 0rem 0 0rem ;
}



aside {
  float:right;
}

nav a {
    padding: 1rem;
    margin: 1rem;
}
